.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .post-card{
    height: auto;
    width: 400px;
    
   
  }
  .post_main_container{
    /* background-color: rgb(16, 16, 16) !important; */
  }
  
  .post-image-container {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100px;
    overflow: hidden;
    /* background-color: rgb(16, 16, 16) !important; */
   
  }
  
  .post-image {
    object-fit: contain;
  }

  .postLiked{
    background-color: black;
    color: white;
  }

  .like-button
  {
    cursor: pointer;
    text-decoration: none;
  }

  .like-button-black{
    color: black;
  }

  .like-button-blue{
    color: rgb(14, 14, 190);
  }